.container-class{
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.buttons-class{
    display: flex;
}

button{
    margin-left: 5px;
    margin-right: 5px;
}

  
  .container-class:focus-within {
    border: 1px solid black;
  }